<!--Grid row-->
<div mdbModal #frame="mdbModal" class="modal fade right" id="frameModalTop" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true" [config]="{backdrop: false, ignoreBackdropClick: true}">
  <div class="modal-dialog modal-full-height modal-right modal-notify modal-info" role="document">
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">Information
        </p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()" (click)="hidemodal()">
          <span aria-hidden="true" class="white-text">×</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body" *ngIf="isDisplayModal" >
        <div class="text-left" *ngFor="let fallower of usersfollowers">
            <img class="rounded-circle" src='{{fallower.user_image}}' width="50">
            <span> {{fallower.user_name}}</span>
        <hr>
        </div>  
      </div>
      <div class="modal-body" *ngIf="DisplayModal" >
        <div class="text-left" *ngFor="let fallow of userfollowing">
            <img class="rounded-circle" src='{{fallow.user_image}}' width="50">
            <span> {{fallow.user_name}}</span>
        <hr>
        </div>  
      </div>
      <div class="modal-body" *ngIf="likedFlag" >
        <div class="text-left" *ngFor="let liked of likeduserslist">
            <img class="rounded-circle" src='{{liked.user_image}}' width="50">
            <span> {{liked.user_name}}</span>
        <hr>
        </div>  
      </div>
    </div>
  </div>
</div>

<div class="row" >
    <div class="col-md-12" >
    <!--Featured image-->
    <mdb-card cascade="true" wider="true" reverse="true" class="imgsize"  >
        <div class="view view-cascade overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="https://mdbootstrap.com/img/Photos/Slides/img%20(142).jpg" alt="Wide sample post image"></mdb-card-img>
        <a>
            <div class="mask rgba-white-slight"></div>
        </a>
        </div>

        <!--Post data-->
        <mdb-card-body cascade="true" class="text-center">
        <h2>
            <a class="font-weight-bold">{{userdata[0].username}}</a>
        </h2>
        <!--Social shares-->
        <div class="social-counters " >

            <a mdbBtn color="tw" class="waves-light"  data-toggle="modal" data-target="#basicExample"
            (click)="frame.show()" (click)="userfollowers()" mdbWavesEffect>
            <span class="clearfix d-none d-md-inline-block">Followers</span>
            </a>
            <span class="counter ">{{ follwerscount }}</span>

            <a mdbBtn color="tw" class="waves-light" data-toggle="modal" data-target="#basicExample"
            (click)="frame.show()" (click)="user_following()" mdbWavesEffect>
            <span class="clearfix d-none d-md-inline-block">Following</span>
            </a>
            <span class="counter ">{{ followingcount }}</span>


            <a mdbBtn color="tw" class="waves-light" mdbWavesEffect>
                <span class="clearfix d-none d-md-inline-block">Posts</span>
                </a>
                <span class="counter ">{{ postcount }}</span>

        </div>
        <!--Social shares-->
        </mdb-card-body>
        <!--Post data-->
    </mdb-card>
  
    <!--Excerpt-->

<div class="container mt-5">
    <div class="d-flex justify-content-center row" *ngFor="let user of useraccount">
        <div class="col-md-6">
            <div class="d-flex flex-column comment-section">
                <div class="bg-white p-2">
                    <div class="mt-2">
                        <p class="comment-text">
                            <img src={{user.post_image}} alt="thumbnail" class="img-thumbnail"
                            style="width: 400px"><br>
                            {{user.discription}}</p>
                    </div>
                </div>
                <div class="bg-white" >
                    <div class="d-flex flex-row fs-12"  >
                        <div class="like p-2 cursor" style="color: red; ">
                            <span class="ml-1" class="waves-light" data-toggle="modal" data-target="#basicExample"
                            (click)="frame.show()"  mdbWavesEffect (click)=userliked(user.post_id)>
                                <span *ngIf=" likedcount && LikeddivID===user.id "></span>
                                <i *ngIf="user.user_like===true" class="fa fa-heart"></i>
                                <i *ngIf="user.user_like===false" class="fa fa-heart-o"></i>
                                <!-- <fa-icon [icon]="faHeart"></fa-icon> -->
                            </span><span style="margin-left: 5px;">{{user.like_count}}</span>
                        </div>
                        <div class="like p-2 cursor"><i class="fa fa-commenting-o"></i><span class="ml-1" (click)="divopen(user.id)">Comment</span></div>
                        <div class="like p-2 cursor">
                          <i class="fa fa-share"></i>
                          <span class="ml-1" data-toggle="modal" data-target="#basicExample"
                          (click)="frame.show()" mdbWavesEffect>Share</span></div>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>


