<div class="container">

    <!-- Default form login -->
    <form  class="text-center border border-light p-5" id="login" >
  
        <p class="h4 mb-4">Forgot Password</p>
      
        <input type="username"  class="form-control mb-4"
        placeholder="User Name" [ngModelOptions]="{standalone: true}"  [(ngModel)]="forgotPasswordForm.username">

        <input type="email"  class="form-control mb-4"
        placeholder="Email" [ngModelOptions]="{standalone: true}"  [(ngModel)]="forgotPasswordForm.email">

        <!-- Password -->
        <input type="password"  class="form-control mb-4"
        placeholder="Password" [ngModelOptions]="{standalone: true}"  [(ngModel)]="forgotPasswordForm.password1">

        
        
        <input type="password"  class="form-control mb-4"
        placeholder="Re-Password" [ngModelOptions]="{standalone: true}"  [(ngModel)]="forgotPasswordForm.password2">
        
      
        <!-- Sign in button -->
        <button mdbBtn color="info" block="true" class="my-4" type="submit" (click)="forgotpassword()">Submit</button>

        
      </form>
      <!-- Default form login -->
    </div>